[Unit]
Description=Kafka CoinBase Consumer
After=multi-user.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
EnvironmentFile=/etc/systemd/system/consumer.service.d/consumer.conf
ExecStart=/usr/bin/python3 -u /home/ubuntu/CS5287/common/consumer.py --broker_ip ${COUCH_IP} --broker_port 9092 --couch_ip ${COUCH_IP} --couch_port 5984 --user admin --password JoyRide09*

[Install]
WantedBy=multi-user.target
