[Unit]
Description=Kafka Consumer
After=multi-user.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
EnvironmentFile=/etc/systemd/system/consumer.service.d/consumer.conf
ExecStart=/usr/bin/python3 -u /home/cc/CS5287/consumer_cc.py

[Install]
WantedBy=multi-user.target
